@import 'globals.css';

body {
  background-color: var(--primary);
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(300px);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-300px);
  }
}

/* @keyframes moving-img {
  0% {
    transform: translate(-20px, -10px) rotateZ(8deg);
  }

  33% {
    transform: translate(20px, 10px) rotateZ(0deg);
  }

  66% {
    transform: translate(20px, -10px) rotateZ(-8deg);
  }

  100% {
    transform: translate(-20px, 10px) rotateZ(0deg);
  }
} */

header {
  position: fixed;
  z-index: 5;
  padding: 1rem;
  width: 100%;
  background-color: #00000080;
  backdrop-filter: blur(10px);
  /* box-shadow: 0 1px 10px 5px #00000080; */
  display: flex;
  align-items: center;
  gap: 1rem;

  a:has(img) {
    width: 5rem;
    margin-right: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 100%; */
  height: 95vh;
  aspect-ratio: 2.5 / 1.1;

  position: relative;

  background-color: #00000080;

  #motto {
    width: 20vw;
    text-align: center;
  }

  #hero-img {
    position: absolute;
    z-index: -1;

    /* width: 100%; */
    height: 95vh;
    aspect-ratio: 2.5 / 1.1;

    top: 50%;
    left: 50%;
    translate: -50% -50%;

    filter: blur(3px);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20vh;
  margin-top: 30vh;
  margin-bottom: 15vh;
  width: 100%;

  section {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: fit-content;
    max-width: 80vw;
    padding: 1rem;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2,
      p {
        width: 90%;
      }
    }

    img {
      position: relative;
      width: 25vw;
      aspect-ratio: 1.52 / 1;
      /* border-radius: 8px; */
      transition: all 200ms;
      background-color: #fff;
      transform: rotateZ(-8deg);
      padding: 1rem;
      padding-bottom: 3rem;
      opacity: .9;
      cursor: pointer;
    }

    &:nth-child(1) {
      opacity: 0;
      transform: translateX(300px);

      &.slide-in {
        animation: slide-in-right .5s;
        opacity: 1;
        transform: translateX(0);
      }

      &.slide-out {
        animation: slide-out-right .5s;
        opacity: 0;
        transform: translateX(300px);
      }

      img {
        transform: rotateZ(-8deg);

        &:hover {
          transform: scale(1.1, 1.1) rotateZ(-8deg);
        }
      }
    }

    &:nth-child(2) {
      flex-direction: row-reverse;

      div>p,
      div>h2 {
        text-align: right;
        margin-left: auto;
      }

      &.slide-in {
        animation: slide-in-left .5s;
        opacity: 1;
        transform: translateX(0);
      }

      &.slide-out {
        animation: slide-out-left .5s;
        opacity: 0;
        transform: translateX(300px);
      }

      img {
        transform: rotateZ(8deg);

        &:hover {
          transform: scale(1.1, 1.1) rotateZ(8deg);
        }
      }
    }
  }
}

#destinations {
  margin-inline: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 9vw;

  padding-bottom: 2rem;

  p {
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--primary);
    padding-inline: 1rem;
  }

  button {
    border: none;
    outline: none;
    background-color: white;
    color: black;
    padding: .5rem 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 15vh;
  padding-block: 1rem;

  height: fit-content;

  background-color: var(--secondary);

  #contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: relative;

    p {
      padding-left: 1.5rem;
    }

    ::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 1%;
      translate: 0 -27%;

      height: 6rem;
      width: .5rem;

      background: var(--gradient);

      border-radius: 100vh;
    }
  }

  img {
    width: 25vw;
  }
}

@keyframes grow {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

#decoration-bar-border,
#decoration-bar {
  position: fixed;
  top: 8vh;
  left: 4rem;
  height: 80vh;
  width: 5px;
}

#decoration-bar-border {
  border: 2px dashed white;
}

#decoration-bar {
  transform-origin: 50% 0;
  animation: grow auto linear;
  animation-timeline: --scroll;
  background-color: white;
}

svg {
  position: absolute;
  /* top: 85vh; */
  top: 85vh;
  left: -5%;
  z-index: -1;
  padding-inline: 25.2%;
  /* padding-block: 8%; */

  /* stroke-dashoffset: 1000; */

  width: 100vw;
  height: fit-content;
  /* aspect-ratio: 0.8 / 2; */
  margin-inline: auto;

  /* transform: scale3d(2, 0.5, 1); */

  >path {
    height: fit-content;
    width: 70vw;
  }
}