@import '../globals.css';

h1 {
  width: fit-content;
  font-size: 5rem;
  margin: 15vh auto 5vh;
  text-align: center;
}

@keyframes widen {
  from {
    width: 101%;
    left: -0.5%;
  }

  to {
    width: 0%;
    left: 100.5%;
  }
}

@keyframes shorten {
  from {
    width: 0%;
    left: 100.5%;
  }

  to {
    width: 101%;
    left: -0.5%;
  }
}

@property --color {
  syntax: '<angle>';
  inherits: false;
  initial-value: 270deg;
}

@property --transparent {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes forward {
  from {
    --color: 270deg;
    --transparent: 0deg;
  }

  to {
    --color: 90deg;
    --transparent: 360deg;
  }
}

@keyframes backward {
  from {
    --color: 90deg;
    --transparent: 360deg;
  }

  to {
    --color: 270deg;
    --transparent: 0deg;
  }
}

#step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10vh;
  gap: 8px;

  .bar {
    width: 30%;
    height: 8px;
    background: var(--gradient);
    border-radius: 100vh;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      left: -0.5%;
      width: 101%;
      height: 100%;
      border-radius: 100vh;
      background: var(--secondary);
    }

    &.active::after {
      animation: .6s widen ease-in;
      width: 0%;
      left: 100.5%;
    }

    &.unactive::after {
      animation: .6s shorten ease-out;
      left: -0.5%;
      width: 101%;
    }
  }

  .step {
    padding: 1rem;
    border-radius: 100vh;
    background-color: var(--secondary);
    position: relative;

    p {
      width: 1.2rem;
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      border-radius: 100vh;
      background: var(--gradient);
      border: 2px solid var(--primary);
    }

    &::after {
      content: attr(text);
      text-align: center;
      font-weight: bold;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 100vh;
      translate: -50% -50%;
      background-color: var(--secondary);
      width: 66%;
      height: 66%;
      padding: .5rem;
    }

    background: conic-gradient(from var(--color),
      transparent var(--transparent),
      var(--secondary) var(--transparent) var(--color));

    &.active,
    &.unactive {
      background: conic-gradient(from var(--color),
          transparent var(--transparent),
          var(--secondary) var(--transparent) var(--color));
    }

    &.active {
      animation: forward 1s .6s ease-out forwards;
    }

    &.unactive {
      animation: backward 1s ease-in forwards;
    }

    &#step-1.active {
      background: conic-gradient(from 270deg, red 0deg, transparent 0deg 270deg);
    }
  }

  button {
    background-color: var(--primary);
    border-radius: 8px;
    padding: .5rem 1rem;
    margin-inline: 2rem;

    img {
      height: 2.5rem;
      aspect-ratio: 1;
    }
  }
}

#location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  width: 100%;

  iframe {
    width: 33%;
    aspect-ratio: 3 / 2;
    border-radius: 8px;
  }

  #location-input {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      align-items: center;
      justify-content: center;
    }
  }
}

input {
  border: 2px solid white;
  outline: none;
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
}

#location,
#calendar,
#confirm {
  &.hidden {
    display: none;
  }
}

#calendar {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 2rem;
  margin-inline: auto;

  div:not(.date-grid) {
    display: flex;
    justify-content: space-around;

    button {
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 2rem;
    }
  }

  .date-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;

    div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: var(--primary);
      border: 2px solid var(--secondary);
      border-radius: 10px;
      padding: .5rem;
      cursor: pointer;

      &.otherMonth,
      &.old-days,
      &:has(.golden) {
        cursor: default;
      }

      p {
        height: fit-content;
        transition: all .2s;
        user-select: none;

        &.big {
          font-size: 3rem;
        }

        &.small {
          font-size: 2rem;
        }

        &.golden {
          font-weight: 900;
          font-size: 2rem;
        }
      }

      &.old-days p {
        color: #ffffff50;
      }

      &.otherMonth {
        filter: blur(3px);

        p {
          color: #ffffff50;
          border: none;
        }
      }

      &.otherMonth,
      &.old-days,
      &:has(.golden) {

        .hide,
        .show {
          display: none;
        }
      }

      &.selected {
        border-top: 2px solid var(--main-gold);
        border-bottom: 2px solid var(--main-gold);

        &:first-of-type {
          border-left: 2px solid var(--main-gold);
        }

        &:last-of-type {
          border-right: 2px solid var(--main-gold);
        }
      }

      &.planned::before {
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        z-index: -1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 10px;
        background-color: var(--main-gold);
        clip-path: polygon(0% 0%, 25% 0%, 50% 50%, 75% 0%, 100% 0%, 50% 50%, 100% 100%, 75% 100%, 50% 50%, 25% 100%, 0% 100%, 50% 50%);
      }

      &.start {
        --clip-path: polygon(20% 20%, 0% 20%, 0% 0%, 20% 0%, 20% 20%, 40% 30%, 50% 50%, 40% 70%, 20% 80%, 20% 100%, 0% 100%, 0% 80%, 20% 80%, 30% 50%);

        &::before {
          content: '';
          position: absolute;
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          z-index: -1;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          border-radius: 10px;
          clip-path: var(--clip-path);
          background-color: var(--main-gold);
        }
      }

      &.end {
        --clip-path: polygon(20% 20%, 0% 20%, 0% 0%, 20% 0%, 20% 20%, 40% 30%, 50% 50%, 40% 70%, 20% 80%, 20% 100%, 0% 100%, 0% 80%, 20% 80%, 30% 50%);

        &::before {
          content: '';
          position: absolute;
          width: 110%;
          height: 110%;
          z-index: -1;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          border-radius: 8px;
          clip-path: var(--clip-path);
          background-color: var(--light-gold);
          rotate: 180deg;
        }
      }

      .hide,
      .show {
        transition: all .2s;
      }

      .hide {
        background-color: transparent;
        font-size: 1rem;
        opacity: 0;
        width: 0;

        &:first-child {
          transform: translateX(-30px);
        }

        &:last-child {
          transform: translateX(calc-size(15px - 4rem));
        }
      }

      .show {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        border: none;
        width: 2.8rem;
        padding-block: 4px;
        border: 2px solid white;
        font-size: 1rem;

        &:first-child,
        &:last-child {
          transform: translateX(0px);
          text-align: center;
        }

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-right: none;
        }

        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-left: none;
        }

        /* &:last-child {
          transform: translateX(40px);
        } */
      }
    }
  }
}