@import '../globals.css';

h1 {
  width: fit-content;
  font-size: 5rem;
  margin: 15vh auto 5vh;
  text-align: center;
}

@keyframes widen {
  from {
    width: 101%;
    left: -0.5%;
  }

  to {
    width: 0%;
    left: 100.5%;
  }
}

@keyframes shorten {
  from {
    width: 0%;
    left: 100.5%;
  }

  to {
    width: 101%;
    left: -0.5%;
  }
}

@property --color {
  syntax: '<angle>';
  inherits: false;
  initial-value: 270deg;
}

@property --transparent {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes forward {
  from {
    --color: 270deg;
    --transparent: 0deg;
  }

  to {
    --color: 90deg;
    --transparent: 360deg;
  }
}

@keyframes backward {
  from {
    --color: 90deg;
    --transparent: 360deg;
  }

  to {
    --color: 270deg;
    --transparent: 0deg;
  }
}

@keyframes rotate-days {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }

  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 81vw;
  margin-inline: auto;
  margin-bottom: 10vh;
  gap: 8px;

  .bar {
    width: 30%;
    height: 8px;
    background: var(--gradient);
    border-radius: 100vh;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      left: -0.5%;
      width: 101%;
      height: 100%;
      border-radius: 100vh;
      background: var(--secondary);
    }

    &.active::after {
      animation: .6s widen ease-in;
      width: 0%;
      left: 100.5%;
    }

    &.unactive::after {
      animation: .6s shorten ease-out;
      left: -0.5%;
      width: 101%;
    }
  }

  .step {
    padding: 1rem;
    border-radius: 100vh;
    background-color: var(--secondary);
    position: relative;

    p {
      width: 1.2rem;
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      border-radius: 100vh;
      background: var(--gradient);
      border: 2px solid var(--primary);
    }

    &::after {
      content: attr(text);
      text-align: center;
      font-weight: bold;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 100vh;
      translate: -50% -50%;
      background-color: var(--secondary);
      width: 66%;
      height: 66%;
      padding: .5rem;
    }

    background: conic-gradient(from var(--color),
      transparent var(--transparent),
      var(--secondary) var(--transparent) var(--color));

    &.active,
    &.unactive {
      background: conic-gradient(from var(--color),
          transparent var(--transparent),
          var(--secondary) var(--transparent) var(--color));
    }

    &.active {
      animation: forward 1s .6s ease-out forwards;
    }

    &.unactive {
      animation: backward 1s ease-in forwards;
    }

    &#step-1.active {
      background: conic-gradient(from 270deg, red 0deg, transparent 0deg 270deg);
    }
  }

  button {
    background-color: var(--primary);
    border-radius: 8px;
    padding: .5rem 1rem;
    margin-inline: 2rem;

    img {
      height: 2.5rem;
      aspect-ratio: 1;
    }
  }
}

#location,
#calendar,
#info-form {
  animation: reveal 1.6s ease-in-out;
  max-width: 81vw;
  margin-inline: auto;

  &.hidden {
    display: none;
  }

  overflow-y: hidden;
}

/* #location {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  width: 72vw;
  gap: 1rem;
  overflow-x: hidden;


  iframe {
    grid
    aspect-ratio: 1;
    border-radius: 8px;
    background-color: var(--secondary);
    grid-row: 1 / span 2;

    &:first-child {
      grid-column: 1 / 2;
    }

    &:last-child {
      grid-column: 5 / 6;
    }
  }

  div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
    grid-column: 3 / 4;

    align-items: center;
    justify-content: center;

    &:first-of-type {
      grid-row: 1;
    }

    &:last-of-type {
      grid-row: 2;
    }
  }
} */

#location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  width: 100%;

  iframe {
    width: 33%;
    aspect-ratio: 3 / 2;
    border-radius: 8px;
    background-color: var(--secondary);
  }

  #location-input {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      align-items: center;
      justify-content: center;
    }
  }
}

input {
  border: 2px solid var(--secondary);
  outline: none;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
}

#calendar {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 2rem;
  margin-inline: auto;

  #days p {
    width: 5.5rem;
    text-align: center;
  }

  div:not(.date-grid) {
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      width: 3rem;
      aspect-ratio: 1;
      font-size: 2rem;

      img {
        width: 100%;
        aspect-ratio: 1;

        &:is(.previous>img) {
          rotate: 180deg;
        }
      }
    }
  }

  .date-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;

    div {
      animation: rotate-days .2s ease-out;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: var(--primary);
      border: 2px solid var(--secondary);
      border-radius: 10px;
      padding: .5rem;
      cursor: pointer;



      &.otherMonth,
      &.old-days,
      &:has(.golden) {
        cursor: default;
      }

      p {
        height: fit-content;
        transition: all .2s;
        user-select: none;

        &.big {
          font-size: 2rem;
        }

        &.small {
          font-size: 1.5rem;
        }

        &.golden {
          font-weight: 900;
          font-size: 1.5rem;
        }
      }

      &.old-days p {
        color: #ffffff50;
      }

      &.otherMonth {
        filter: blur(3px);

        p {
          color: #ffffff50;
          border: none;
        }
      }

      &.otherMonth,
      &.old-days,
      &:has(.golden) {

        .hide,
        .show {
          display: none;
        }
      }

      &.selected,
      &.first,
      &.last {
        border-top: 2px solid var(--main-gold);
        border-bottom: 2px solid var(--main-gold);
      }

      &.first {
        border-left: 2px solid var(--main-gold);
      }

      &.last {
        border-right: 2px solid var(--main-gold);
      }
    }
  }
}

#info-form {
  width: 40rem;
  height: fit-content;
  margin-inline: auto;

  form {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin-inline: auto;

    #personal,
    #contact,
    #payment {
      width: 90%;
      height: fit-content;
      gap: 1rem;
      padding: 2rem;
      border-radius: 2rem;
      border: 2px dashed var(--secondary);

      legend {
        padding-inline: 1rem;
        margin-left: 2rem;
      }

      div {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);
        width: fit-content;

        input {
          grid-column: span 5;
          width: 100%;
        }

        label {
          grid-column: 2 / 5;
          width: 100%;
          text-align: center;
        }

        input,
        label,
        span {
          margin-inline: auto;
        }

        .req {
          color: red;
          width: 100%;
          text-align: right;
        }
      }
    }

    #personal {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 0.5fr);

      div {
        grid-column: span 2;
        width: 100%;

        &:has(>input[name='age']) {
          grid-column: 2 / 4;
        }
      }
    }

    #contact {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        width: 100%;
      }
    }

    div:has(textarea) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 4px;

      textarea {
        width: 90%;
        height: 10rem;
        background-color: transparent;
        outline: none;
        border: 2px solid var(--secondary);
        padding: .4rem .8rem;
        border-radius: 4px;
        resize: none;
      }
    }

    #payment {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);

      div {
        width: 100%;

        &:has(>input[name='card-name'], >input[name='card-number']) {
          grid-column: span 2;
        }
      }
    }
  }

  button {
    width: 90%;
    margin-inline: auto;
    padding: 1rem;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    background: var(--gradient);
    border-radius: 8px;
  }
}

@media screen and (max-width: 640px) {
  #info-form {
    width: 90%;

    form {

      #personal,
      #contact,
      #payment {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 280px) {
  #info-form {
    width: 100%;

    form {

      #personal,
      #contact,
      #payment {
        padding: 0;
        width: 100%;
        border-radius: 0;
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  #location {
    flex-direction: column;
  }
}